.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &-input {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.75rem;
    border-block: solid 1px var(--chakra-colors-gray-200);
    border-inline: none;
    block-size: var(--chakra-space-6);
  }
}
