.root {
  inline-size: 100%;
  overflow: hidden;

  &-body {
    padding: 1rem;
    padding-block-start: 0;
  }

  &-img {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 1rem;
    overflow: hidden;
    block-size: 100%;
    max-block-size: 180px;

    &-content {
      inline-size: 100%;
      object-fit: cover ;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &-title {
    margin-block-end: 0.5rem;
    font-weight: bold;
  }

  &-stars {
    margin-block-end: 0.75rem;
  }

  &-divider {
    margin-block: 1rem;
  }

  &-btnGroup {
    inline-size: 100%;
    display: flex;
    justify-content: center;
  }

  &-addBtn {
    border-start-start-radius: 0 !important;
    border-start-end-radius: 0 !important;
    inline-size: 100%;
  }
}