.header {
  inline-size: 100%;
  position: sticky;
  border-block-end: solid 1px;
  inset-block-start: 0;

  &-box {
    box-sizing: border-box;
    display: flex;
    column-gap: 1rem;
    align-self: center;
    justify-content: space-between;
    padding: 1rem;
    margin: auto;
    transition: all 0.4s;
    max-inline-size: 960px;
  }

  &-boxLogo {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: flex-start;
  }

  &-nav {
    display: none;
    column-gap: 1rem;
    align-items: center;
    justify-content: flex-start;
  }

  &-boxBtns {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: flex-end;
  }

  &-loginBtn {
    display: none;
  }
}

@media screen and (min-width: 428px) {
  .header {
    &-box {
      padding: 1rem 1.5rem;
    }

    &-loginBtn {
      display: inline-flex;
    }
  }
}

@media screen and (min-width: 668px) {
  .header {
    &-box {
      justify-content: flex-start;
    }

    &-menuBtn {
      display: none;
    }

    &-nav {
      display: flex;
      flex: 1;
    }
  }
}

@media screen and (min-width: 960px) {
  .header {
    &-box {
      padding: 1rem 0;
    }
  }
}
