* {

  /* width */
  ::-webkit-scrollbar {
    inline-size: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--chakra-colors-white);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--chakra-colors-gray-300);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--chakra-colors-gray-400);
  }
}
