.root {
  position: sticky;
  inset-block-start: calc(72px + 1rem);

  &-header {
    align-items: center;
    justify-content: space-between;
  }

  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem;
  }
}
