.root {
  box-sizing: border-box;
  padding: 1rem;
  padding-block-start: 1rem;
  inline-size: 100%;
  transition: all .4s;

  &-breadcrumb {
    margin-block-end: 1rem;
  }

  &-search {
    margin-block-end: 1rem;
  }
}

@media screen and (min-width: 428px) {
  .root {
    padding: 2rem;
    padding-block-start: 1rem;
  }
}
